Pandas is built on two main data structures:

Series → One-dimensional (like a single column in Excel)
DataFrame → Two-dimensional (like a full spreadsheet or SQL table)

In [7]:
import pandas as pd
s = pd.Series([66, 77, 1, 2, 3]) # its a pandas series and do indexing automatically
s

0    66
1    77
2     1
3     2
4     3
dtype: int64

In [8]:
type(s)

pandas.core.series.Series

In [9]:
# if i want to give index byself
s2 = pd.Series([66, 77, 81, 29, 60], index=["Hadia", "Ali", "Ahmad", "Hamna", "Arshad"])
s2

Hadia     66
Ali       77
Ahmad     81
Hamna     29
Arshad    60
dtype: int64

In [11]:
s2["Hadia"]

66

In [12]:
s2["Ali"]

77

In [13]:
s2["Arshad"]

60

pandas series may looks similar to python list because both store data with labels but series support fast vectorization support, automatic indexing and handle missing data using NAN also allow both label based and position based access. A series is better suit for data analysis and manipulation task where flexibility, performance and built in function matters

In [14]:
#Dataframe

DataFrame — 2D Labeled Table:
A DataFrame is like a dictionary of Series — multiple columns with labels.

In [16]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

In [20]:
df = pd.DataFrame(data)

In [21]:
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [22]:
df.index# tells the index and steps

RangeIndex(start=0, stop=3, step=1)

In [26]:
df.columns

Index(['name', 'age', 'city'], dtype='object')

In [27]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'